@import "./nord.scss";

$bar-bg: $draw-300;
$bat-colour: $aurora-yellow;

* {
    font-family: "FiraCode Nerd Font";
}
.base {

    background-color: $bar-bg;

    padding: 10px 0px;
}

.bat {
    color: $bat-colour;
}

.time {
    font-size: 2em;
    font-weight: bold;
}

