@import "./nord.scss";

$bar-bg: $draw-300;
$metrics-bg: $draw-100;
$bat-colour: $aurora-yellow;
$light-colour: $frost-a;
$sound-colour: $aurora-pink;

* {
    font-family: "FiraCode Nerd Font";
}
.base {
    background-color: $bar-bg;

    padding: 8px 0px;
}

.metrics {
    background-color: $metrics-bg;

    margin: 5px;
    padding: 0px 8px 8px 8px;

    border-radius: 8px;

    .sound {
        color: $sound-colour;
    }
    .bat {
        color: $bat-colour;
    }
    .light {
        color: $light-colour;
    }
}

.time {
    font-size: 2em;
    font-weight: bold;
}

