// black
$draw-100: #2e3440;
$draw-200: #3b4252;
$draw-300: #434c5e;
$draw-400: #4c566a;

// white
$draw-700: #d8dee9;
$draw-800: #e5e9f0;
$draw-900: #eceff4;

$frost-a: #8fbcbb;
$frost-b: #88c0d0;
$frost-c: #81a1c1;
$frost-d: #5e81ac;

$aurora-red: #bf616a;
$aurora-orange: #d08770;
$aurora-yellow: #ebcb8b;
$aurora-green: #a3be8c;
$aurora-pink: #b48ead;
