## Variables
set $mod Mod4
set $term kitty
set $menu wofi
set $screenshot grim -g "$(slurp)" - | copyq copy image/png -

set $wall ~/walls/nordic/nixos.png

set $cl_high #009ddc
set $cl_indi #d9d8d8
set $cl_back #231f20
set $cl_fore #d9d8d8
set $cl_urge #ee2e24

set $Left  h
set $Up    k
set $Down  j
set $Right l

# Colors                border   bg       text     indi     childborder
client.focused          $cl_high $cl_high $cl_fore $cl_indi $cl_high
client.focused_inactive $cl_back $cl_back $cl_fore $cl_back $cl_back
client.unfocused        $cl_back $cl_back $cl_fore $cl_back $cl_back
client.urgent           $cl_urge $cl_urge $cl_fore $cl_urge $cl_urge

# workspaces
set $ws1   1:
set $ws2   2:
set $ws3   3:3
set $ws4   4:4
set $ws5   5:5
set $ws6   6:6
set $ws7   7:7
set $ws8   8:8
set $ws9   9:9
set $ws0   10:10
set $wsF1  11:
set $wsF2  12:
set $wsF3  13:13
set $wsF4  14:14
set $wsF5  15:15
set $wsF6  16:16
set $wsF7  17:17
set $wsF8  18:
set $wsF9  19:19
set $wsF10 20:20
set $wsF11 21:
set $wsF12 22:

# Window borders
default_border pixel 1
default_floating_border normal
hide_edge_borders smart

gaps inner 8
gaps outer 8

# Autostart
exec --no-startup-id tmux new -d "yes 'get-battery Percent; sleep 10' | bash"
exec --no-startup-id kitty
exec --no-startup-id firefox
exec --no-startup-id Discord
exec --no-startup-id spotify
exec --no-startup-id obsidian

exec --no-startup-id dbus-daemon --session --address=unix:path=$XDG_RUNTIME_DIR/bus
exec --no-startup-id mako
exec --no-startup-id eww open bar

exec --no-startup-id conf-randr

# exec --no-startup-id kitty --class KITTY_SPECIAL

# https://www.reddit.com/r/swaywm/comments/cuccbr/get_window_classroletitle_in_sway/
assign [class="Firefox"] $ws2
assign [class="discord"] $ws3
assign [class="Spotify"] $ws4

assign [class="KITTY_SPECIAL"] scratchpad
for_window [class="KITTY_SPECIAL"] move scratchpad

# Input configuration
input * {
    xkb_layout no
    # xkb_variant deadkeys
    xkb_options caps:escape
}
input type:touchpad {
    tap enabled
    natural_scroll enabled
}

output * bg $wall fill

# Shortcuts
bindsym {
    $mod+Return exec $term
    $mod+Print exec $screenshot
    $mod+Shift+s exec $screenclip
    $mod+d exec $menu

    $mod+Shift+q kill
    $mod+Shift+c reload
    #bindsym $mod+Shift+e exit
    $mod+b splith
    $mod+v splitv

    $mod+Shift+m exec pixel-lock

    $mod+Escape exec $power
    $mod+End exec $wifi

    $mod+Control+q exit

    # Notifications
    Control+Space exec makoctl dismiss
    Control+Shift+Space exec makoctl dismiss --all

    # Multimedia
    --locked XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume $(pacmd list-sinks |awk '/* index:/{print $3}') +5%
    --locked XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume $(pacmd list-sinks |awk '/* index:/{print $3}') -5%
    --locked XF86AudioMute exec --no-startup-id pactl set-sink-mute $(pacmd list-sinks |awk '/* index:/{print $3}') toggle
    --locked XF86AudioPlay exec playerctl play-pause
    --locked XF86AudioNext exec playerctl next
    --locked XF86AudioPrev exec playerctl previous

    # Brightness controls
    --locked XF86MonBrightnessUp exec --no-startup-id light -A 10
    --locked XF86MonBrightnessDown exec --no-startup-id light -U 10

    # Move your focus around
    $mod+$Left  focus left
    $mod+$Down  focus down
    $mod+$Up    focus up
    $mod+$Right focus right

    # _move_ the focused window with the same, but add Shift
    $mod+Shift+$Left move left
    $mod+Shift+$Down move down
    $mod+Shift+$Up move up
    $mod+Shift+$Right move right

    $mod+q  scratchpad show

    # switch to workspace
    $mod+1   workspace $ws1
    $mod+2   workspace $ws2
    $mod+3   workspace $ws3
    $mod+4   workspace $ws4
    $mod+5   workspace $ws5
    $mod+6   workspace $ws6
    $mod+7   workspace $ws7
    $mod+8   workspace $ws8
    $mod+9   workspace $ws9
    $mod+0   workspace $ws0
    $mod+F1  workspace $wsF1
    $mod+F2  workspace $wsF2
    $mod+F3  workspace $wsF3
    $mod+F4  workspace $wsF4
    $mod+F5  workspace $wsF5
    $mod+F6  workspace $wsF6
    $mod+F7  workspace $wsF7
    $mod+F8  workspace $wsF8
    $mod+F9  workspace $wsF9
    $mod+F10 workspace $wsF10
    $mod+F11 workspace $wsF11
    $mod+F12 workspace $wsF12

    # move focused container to workspace
    $mod+Shift+1    move container to workspace $ws1
    $mod+Shift+2    move container to workspace $ws2
    $mod+Shift+3    move container to workspace $ws3
    $mod+Shift+4    move container to workspace $ws4
    $mod+Shift+5    move container to workspace $ws5
    $mod+Shift+6    move container to workspace $ws6
    $mod+Shift+7    move container to workspace $ws7
    $mod+Shift+8    move container to workspace $ws8
    $mod+Shift+9    move container to workspace $ws9
    $mod+Shift+0    move container to workspace $ws0
    $mod+Shift+F1   move container to workspace $wsF1
    $mod+Shift+F2   move container to workspace $wsF2
    $mod+Shift+F3   move container to workspace $wsF3
    $mod+Shift+F4   move container to workspace $wsF4
    $mod+Shift+F5   move container to workspace $wsF5
    $mod+Shift+F6   move container to workspace $wsF6
    $mod+Shift+F7   move container to workspace $wsF7
    $mod+Shift+F8   move container to workspace $wsF8
    $mod+Shift+F9   move container to workspace $wsF9
    $mod+Shift+F10  move container to workspace $wsF10
    $mod+Shift+F11  move container to workspace $wsF11
    $mod+Shift+F12  move container to workspace $wsF12

    # Layout stuff:

    # Switch the current container between different layout styles
    $mod+s layout stacking
    $mod+w layout tabbed
    $mod+e layout toggle split

    # Make the current focus fullscreen
    $mod+f fullscreen

    # Toggle the current focus between tiling and floating mode
    $mod+Shift+space floating toggle
    # Swap focus between the tiling area and the floating area
    $mod+space focus mode_toggle

    # move focus to the parent container
    $mod+a focus parent

    # Move the currently focused window to the scratchpad
    $mod+Shift+minus move scratchpad
    # Show the next scratchpad window or hide the focused scratchpad window.
    # If there are multiple scratchpad windows, this command cycles through them.
    $mod+minus scratchpad show
}

# Modes
mode "resize" {
    bindsym $Left resize shrink width 10px
    bindsym $Down resize grow height 10px
    bindsym $Up resize shrink height 10px
    bindsym $Right resize grow width 10px

    # return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

set $mode_system System: (l) lock, (e) logout, (s) suspend, (r) reboot, (S) shutdown, (R) UEFI
mode "$mode_system" {
    bindsym l exec $lock, mode "default"
    bindsym e exit
    bindsym s exec --no-startup-id systemctl suspend, mode "default"
    bindsym r exec --no-startup-id systemctl reboot, mode "default"
    bindsym Shift+s exec --no-startup-id systemctl poweroff -i, mode "default"
    bindsym Shift+r exec --no-startup-id systemctl reboot --firmware-setup, mode "default"

    # return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+Shift+e mode "$mode_system"
